<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.social_sharing_image -%}
      <meta property="og:image" content="http:{{ settings.social_sharing_image | image_url: width: 1200 }}">
      <meta property="og:image:secure_url" content="https:{{ settings.social_sharing_image | image_url: width: 1200 }}">
    {%- endif -%}

    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:title" content="{{ page_title | escape }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page_description | escape }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_title | escape }}">
    <meta name="twitter:description" content="{{ page_description | escape }}">

    {%- render 'css-variables' -%}

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  </head>

  <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    <a class="skip-to-content-link" href="#MainContent">
      Skip to content
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" class="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}
  </body>
</html>
